@font-face {
    font-family: "siemreap";
    src: url("./font/KHMEROSSIEMREAP.TTF") format("truetype");
}
@font-face {
    font-family: "btb";
    src: url("./font/KHMEROSBATTAMBANG.TTF") format("truetype");
}